body {
    font-family: 'Raleway', cursive;
    height: 100%;
    margin: 0;
    padding: 0  
}

footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    background-color: #FF8260;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    color: white;
    position:absolute;
}

.navbar-fixed-top {
    margin-bottom: 19px;
}

.navbar-default {
    background-color: #FF8260;
    border-color:  #FF8260;
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #900048;
    text-decoration: underline;
    font-weight: bold
}

.navbar-default .navbar-nav > li > a {
    color:  white;
    cursor: pointer;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #900048;
    text-decoration: underline;
    font-weight: bold
}

#nama {
    padding: 50px;
    text-align: center
}

hr {
    border: none;
    height: 1px;
    background-color: orange
}