body {
    font-family: 'Raleway', cursive;
    height: 100%;
    margin: 0;
    padding: 0  
}

#BMNC {
    font-size: 8em;
    text-align: center
}

#BMNC:hover {
    color: #900048
    
}

footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 0.5rem;
    background-color: #026670;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: white;
}

a {
    text-align: center;
    font-size: 30px
}