@media only screen and (max-width: 1400px) {
  .btn-primary{
    background: none;
    position: relative;
    color: #63cdd7;
    font-weight: bold;
    border: 2px solid #63cdd7;
    left:40%;
  }
}

@media only screen and (max-width: 650px) {
  .btn-primary {
    background: none;
    position: relative;
    color: #63cdd7;
    border: 2px solid #63cdd7;
    left:35%;
    margin-bottom: 100px;
  }
}

@media only screen and (max-width: 360px) {
  .btn-primary {
    background: none;
    position: relative;
    color: #63cdd7;
    border: 2px solid #63cdd7;
    left:30%;
  }
}
.modal-header{
  background: display;
  background-color: #e56a6b;
}
.modal-title{
  font-family: Raleway;
  text-align: center;
}
.modal-body{
  font-family: Lato;
}
.btn-success{
  background-color: #1a512e;
  border: none;
}
.btn-danger{
  background-color: #a20417;
  position:absolute;
  margin: auto;
  left:10%;
}
#roleuser{
  height: 50px;
}
.modal-footer{
  height: 100px;
}
