{% extends "bmnc_news/layout/base.html" %}

{% block content %}
<div class="py-5" style="margin-top: -50px">
    <div class="container">
        <div class="col-md-10">
        <h2 class="text-primary"style="font-family:Raleway">Colosseum Roma, Salah Satu Keajaiban Dunia dengan Arsitektur yang Memikat</h2>
        <h5 style="font-family:Raleway"><span class="glyphicon glyphicon-user"></span><a href=""> bintang_ilham</a> &#9675; Harvard University &#9675; Posted at 2018-05-05 14:30</h5>
        <p class="" style="text-align: justify; text-justify: inter-word;font-family:Raleway">Colosseum yang merupakan salah satu dari 7 keajaiban dunia dibangun pada tahun 72 Masehi oleh
                kaisar Romawi yang bernama Vespasian dari dinasti Flavian. Atas perintah Vespasian,
                Colosseum dibangun oleh para arsitek, seniman Romawi dan para budak Yahudi. Pembangunannya
                kemudian dilanjutkan oleh penerusnya yang bernama Titus hingga akhirnya diresmikan pada tahun
                82 Masehi dengan kapasitas sekitar 50.000 penonton.</p>
        </div>
        <div class="col-md-10">
        <h2 class="text-primary"style="font-family:Raleway">Brandenburg Gate</h2>
        <h5style="font-family:Raleway"><span class="glyphicon glyphicon-user"></span><a href=""> rio_kurtinus</a> &#9675; University of Indonesia &#9675;  Posted at 2018-05-05 20:30</h5>
        <p class="" style="text-align: justify; text-justify: inter-word;font-family:Raleway">Bila Checkpoint Charlie adalah simbol pemisah Berlin Barat dan Timur,
            Brandenburg Gate justru sebaliknya. Ketika Tembok Berlin runtuh pada bulan November 1989,
            tempat yang dibangun pada tahun 1788-1791 ini dijadikan sebagai simbol bersatunya Berlin Barat dan
            Timur. Di Brandenburg Gate, Anda bisa menyaksikan aksi artis jalanan,
            misalnya seperti orang-orang yang berpakaian tentara Jerman.</p>
        </div>
    </div>
</div>

<div class="py-5" style="margin-left: 550px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
            <ul class="pagination" >
                <li class="page-item">
                <a class="page-link" href="#">
                <span>«</span>
                <span class="sr-only">Previous</span>
                </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">4</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#">
                    <span>»</span>
                    <span class="sr-only">Next</span>
                </a>
                </li>
            </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
