{% extends "bmnc_news/layout/base.html" %}

{% block content %}

<section name="profile">
    <div class="container" style="margin-top: 75px">
        <h3 id='nama' style="font-weight: bold; text-align: center; margin-bottom: 50px" >Rio Kurtinus</h3>
        <center>
            <span class="glyphicon glyphicon-user" style="font-size: 75px"></span>
        </center>
        <h4 style="text-align: center">Dosen</h4>
        <h4 style="text-align: center">1234567890</h4>
        <hr/ style="border: none; height: 5px; background-color: #FF8260">
        <div class = "col-md-4">
        </div>
        <div class="col-md-3">
            <p>Tempat lahir</p>
            <p>Tanggal lahir</p>
            <p>Email</p>
            <p>Nomor HP</p>
            <p>ID Universitas</p>
        </div>
        <div class="col-md-5">
            <p>Denpasar</p>
            <p>1 Januari 1990</p>
            <p>riokurtinus@gmail.com</p>
            <p>+6281339631789</p>
            <p>53</p>
        </div>
    </div>
</section>

<section name="article" style="margin-top: 50px">
    <h3 style="text-align: center; font-weight: bold">Daftar Artikel</h3>
    <div class="py-5" style="margin-top: 10px">
        <div class="container">
            <div class="col-md-10">
            <h2 class="text-primary">Masih Ada yang Kurang dari Motor Marquez</h2>
            <h5>Posted at 2018-05-05 14:30</h5>
            <p class="" style="text-align: justify; text-justify: inter-word">
                    Marc Marquez tampil begitu mendominasi dalam dua seri terakhir. 
                    Meski demikian, pebalap Repsol Honda itu merasa masih ada yang kurang dari motornya.
                    Setelah start dari pole position dan memenangi MotoGP Austin, 
                    Marquez kembali berjaya di MotoGP Spanyol, Minggu (6/5/2018). 
                    Dia finis terdepan di Sirkuit Jerez meski memulai lomba dari posisi kelima.
            </p>
            </div>
            <div class="col-md-10">
            <h2 class="text-primary">Barca Kian Dekati Gelar Juara La Liga Tanpa Kekalahan</h2>
            <h5>Posted at 2018-05-05 20:30</h5>
            <p class="" style="text-align: justify; text-justify: inter-word">
                    Barcelona baru saja meraih hasil imbang dengan Real Madrid 2-2. 
                    Peluang untuk menjadi juara La Liga tanpa kekalahan kian terbuka.
                    Barca baru saja menyelesaikan pertandingan El Clasico di Camp Nou. 
                    Dalam laga yang bergulir Senin (7/5/2018) dini hari WIB, Barca mendapatkan satu poin.       
            </p>
            </div>
        </div>
    </div>
    
    <div class="py-5" style="margin-left: 550px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                <ul class="pagination" >
                    <li class="page-item">
                    <a class="page-link" href="#">
                    <span>«</span>
                    <span class="sr-only">Previous</span>
                    </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">2</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">3</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">4</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">
                        <span>»</span>
                        <span class="sr-only">Next</span>
                    </a>
                    </li>
                </ul>
                </div>
            </div>
        </div>
    </div>
</section>
    
    
{% endblock %}

